:root {
  --background-color-main: white;
  --grey: #F6F8FB;
  --base-grey: #999a9b;
  --disable-grey: #a4abb6;
  --base-dark-blue: #2a2b47;
  --base-dark-blue-lighter: #3b4e5a;
  --base-light-blue: #88d1e2;
  --button-light-blue: #25cef5;
}